@page
@using CodeCraftingTips.GoogleCaptcha.Settings;
@model IndexModel

<form method="post">

    @if (Model.ReCaptchaVersion == CaptchaVersion.V2)
    {
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey="@Model.ReCaptchaSiteKey"></div>
    }
    else if (Model.ReCaptchaVersion == CaptchaVersion.V3)
    {
        <script src="https://www.google.com/recaptcha/api.js?render=@Model.ReCaptchaSiteKey"></script>
        <script>
            grecaptcha.ready(function () {
                grecaptcha.execute('@Model.ReCaptchaSiteKey', { action: 'submit' }).then(function (token) {
                    document.getElementById('g-recaptcha-response').value = token;
                });
            });
        </script>
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
    }

    <button type="submit">Submit Form</button>

</form>

@if (ViewData["Message"] != null)
{
    <div class="alert">
        @ViewData["Message"]
    </div>
}